.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(80%, 100%);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    padding-top: 80px;
}

#portfolio h1 {
    text-align: center;
}

#tab-switch {
    text-align: center;
}

.tab {
    border: lightgray solid 1px;
    border-bottom: lightgray solid 2px;
    font-size: 1rem;
    padding: 5px 23px;
    min-width: 198.25px;
}

.tab:hover {
    border: solid 1px black;
}

.active {
    background-color: white;
    font-weight: bold;
}

#tab-switch button {
    color: black;
}

#tab-switch button:hover {
    cursor: pointer;
}

.projects-section {
    width: min(80%, 100%);
    min-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -20px;
    display: flex;
    padding: 10px;
}

.projects-section > .projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.projects-section > .projects-container > .project-card {
    width: 300px;
    height: auto;
    max-height: 500px;
}

@media screen and (max-width: 1065px) {
    .portfolio-header {
        display: block;
    }
}