.highlights-project-card {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    border: solid lightgray 1px;
    transition: transform .3s ease;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 16px;
}

.highlights-project-card:hover {
    transform: scale(1.05);
}

.highlights-project-card > .image-and-text-block {
    height: 90%;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}

.highlights-project-card > .image-and-text-block > img {
    grid-row: 1;
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 16px;
}

.highlights-project-card-text {
    width: 100%;
    padding: 10px;
}

.highlights-project-card-text h2 {
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlights-project-card-text p:first-of-type {
    width: 100%;
    overflow: hidden;
}

.highlights-tag-container {
    height: 10%;
    display: flex ;
    overflow-x: auto;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 10px;
}

.highlights-tag-container:hover {
    scrollbar-width: auto;
}

@media screen and (max-width: 1529px) {
    .highlights-project-card > .image-and-text-block > img {
        height: 50%;
    }

    .highlights-project-card-text p:last-of-type {
        margin-top: -10px;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        height: 40%;
    }
}

@media screen and (max-width: 1342px) {
    .highlights-project-card {
        height: 410px;
    }

    .highlights-project-card-text p:first-of-type {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-clamp: 3;
    }
}

@media screen and (max-width: 990px) {
    .highlights-project-card {
        grid-template-rows: 50% 50%;
    }
}

@media screen and (max-width: 768px) {
    .highlights-project-card {
        height: 400px;
        width: 100%;
        max-width: 450px;
        grid-template-rows: 50% 50%;
        margin: auto;
    }
}