.highlights-section {
    width: 80%;
    margin: auto;
}

.highlights-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlights-heading-container > .title:first-of-type {
    width: 200px;
}

.link-to-projects {
    color: dimgray;
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
}

.link-to-projects:hover {
    color: lightgray;
    border-bottom: solid lightgray 1px;
}

.link-to-projects:visited {
    text-decoration: none;
}

.highlights-projects-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 2%;
    justify-content: space-between;
}

.highlights-link-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 30%;
    min-width: 250px;
}

@media screen and (max-width: 990px) {
    .highlights-projects-container {
        justify-content: center;
    }

    .highlights-link-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    .link-to-projects {
        display: none;
    }

    .highlights-heading-container > .title:first-of-type {
        margin: 20px auto;
    }

    .highlights-link-wrapper {
        width: 80%;
    }
}