.highlights-section {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.highlights-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-to-projects {
    color: dimgray;
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
    font-size: 38px;
    position: relative;
}

.link-to-projects:hover {
    color: lightgray;
}

.link-to-projects:before {
    content: "PROJECTS ";
    position: absolute;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    margin-right: 2rem;
}

.link-to-projects:hover::before {
  transform: translateX(0);
  opacity: 1;
}

.link-to-projects:visited {
    text-decoration: none;
}

.highlights-projects-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 2%;
    justify-content: space-between;
}

.highlights-link-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 30%;
    min-width: 250px;
}

@media screen and (max-width: 990px) {
    .highlights-projects-container {
        justify-content: center;
    }

    .highlights-link-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    .highlights-section {
        width: 90%;
    }

    .link-to-projects {
        display: none;
    }

    .highlights-heading-container > .title:first-of-type {
        margin: 20px auto;
    }

    .highlights-link-wrapper {
        width: 80%;
    }
}