.resume-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: none;
    height: 100vh;
    overflow: hidden;
    padding-top: 90px;
}

.resume-container .title {
    color: black;
    width: 300px;
    border-bottom: none;
}

.resume-container > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform .3s ease;
    z-index: 2;
}

.resume-container > div:hover{
    transform: scale(1.05);
    z-index: 3;
}

.resume-container .title {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.resume-container a {
    margin: auto;
    padding: 10px 50px;
    height: 50px;
    border-radius: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    border: solid white 2px;
    cursor: pointer;
}

.resume-container a:hover {
    background-color: rgba(255, 255, 255, .5);
    color: black;
}

.resume-container a:visited {
    color: white;
    text-decoration: none;
}

#game-design-resume *:not(.video-background) {
    z-index: 2;
}

#game-design-resume::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    pointer-events: none;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
}

#tech-resume {
    background-image: url('../../assets/NorElisCakesCoverPhoto.png');
    background-size: cover;
}

#tech-resume * {
    z-index: 2;
}

#tech-resume::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}
