.project-card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto;
}

.project-card a {
    height: 240px;
}

.project-card img {
    grid-row: 0/1;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: 200px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
}

.project-card > .project-card-text > .project-text-link {
    text-decoration: none;
    color: black;
}

.project-card > .project-card-text > .project-text-link > h2:hover {
    color: white;
    text-decoration: underline;
}

.project-card > .project-card-text > .project-text-link:visited {
    text-decoration: none;
    color: black;
}

.project-card > .project-card-text h2 {
    margin-bottom: -15px;
}

.project-card > .project-card-text > .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}