.project-video-section {
    margin: auto;
    background-color: #191819;
    border-top: lightgray solid 1px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.project-video-section > .title {
    margin-bottom: 20px;
    border-bottom: none;
    text-align: center;
    color: white;
}

.project-video-section > .video-container > * {
    margin: auto;
    display: block;
    width: 65%;
    aspect-ratio: 16/9;
}

.project-video-section > .video-caption {
    color: white;
    text-align: center;
}