.gallery-section {
    margin: auto;
    background-color: #191819;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.gallery-section > .title {
    text-align: center;
    border: none;
    color: white;
}

.gallery-section > .media-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.gallery-section > .media-container > img {
    height: 25vh;
    transition: transform 0.3s ease;
}

.gallery-section > .media-container > img:hover {
    transform: scale(1.5);
    z-index: 2;
    border: solid white 2px;
}