.project-headline {
    padding-top: 105px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.project-headline > .text-image-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-flow: column;
    column-gap: 10%;
}

.project-headline > .text-image-container > img {
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: contain;
    display: block;
    grid-column: 2;
    justify-self: end;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    align-self: center;
}

.project-headline > .text-image-container > .text {
    grid-column: 1;
    align-self: start;
    white-space: pre-line;
}

.project-headline > .text-image-container > .text > .title {
    border: none;
    margin-bottom: -10px;
}

.specifications {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    gap: 20px;
}

@media screen and (max-width: 768px){
    .project-headline > .text-image-container {
        display: block;
    }
}