.contact-container {
    background-image: url('../../assets/BallonClimber.png');
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
}

.contact-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.contact-container > form {
    width: 40%;
    min-width: 450px;
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .8);
}

.contact-container > form > .title {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.contact-container > form > * {
    display: block;
    margin: auto;
    width: 80%;
}

.contact-container > form > label {
    margin-bottom: 3px;
}

.contact-container > form > input {
    height: 35px;
    margin-bottom: 10px;
}

.contact-container > form > textarea {
    margin-bottom: 30px;
}

.contact-container > form > button {
    height: 40px;
    background-color: #191819;
    color: white;
}

.contact-container > form > button:hover {
    background-color: white;
    color: #191819;
    cursor: pointer;
}

@media screen and (max-height: 720px) {
    .contact-container > form {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .contact-container > form {
        width: 100%;
        min-width: 0;
        border-radius: 0;
    }
}