header {
    border-bottom: 1px solid gray;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition-property: "transform";
    transition-duration: ".3s";
    transition-timing-function: "ease-in-out";
    background-color: white;
    z-index: 2;
}

header img {
    object-fit: cover;
    width: 90px;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}