nav {
    display: flex;
    list-style: none;
    gap: 3vw;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:visited {
    color: black;
}

.nav-link:hover {
    font-size: 1.1em;
    border-bottom: solid gray 2px;
}